body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;   
    background: rgb(198, 69, 185);
    background: linear-gradient(196deg, rgba(0, 0.3, 3, 0.1) 13%, rgba(29, 161, 204, 0.6) 35%, rgba(1, 5, 10, 0.7) 80%);
    color: var(--cor-segundaria);
    text-align: center;
    height: 450px;
    margin-top: 10px;
}

.titulo1 {
    font-family: 'Bree Serif', serif;
    font-size: 4.8rem;
    text-align: center;
    padding-top: 135px; /* Adiciona espaçamento interno antes do título */
    margin-top: 150px;
    letter-spacing: 0.1em;
}


.titulo2 {
    font-family: 'Bree Serif', serif;
    font-size: 4.5rem;
    text-align: center;
    margin-top: 150px;
    letter-spacing: 0.1em;
    
}

.titulo3 {
    font-family: 'Bree Serif', serif;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 0.1em;
    color: #31748f;
}


.menu-content {
    display: none;
}

.hamburger {
    cursor: pointer;
    color: white;
    font-size: 24px;
    position: absolute;
    margin-top: -100px;
    left: 10px;
}

.share-container {
    position: absolute;
    margin-top: -100px;
    right: 10px;
}

.share-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.share-btn img {
    width: 24px;
    height: 24px;
}

.share-options {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    background: #1c1c1c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.share-options a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 14px;
}

.share-options a:last-child {
    margin-bottom: 0;
}

.share-options a:hover {
    color: #427eff;
}

.menu-content {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 16px;
    position: absolute;
    top: 50px;
    left: 10px;
}


.menu-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    display: block;
}
.menu-content a:hover {
    background-color: #646464;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-subcategory {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.dropdown-subcategory strong {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.show {
    display: block;
}

.show-menu {
    display: block;
}

#intro-packs {
    max-width: 1200px;
    margin: 0 auto;
    color: #ffffff;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

#sobre {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
    z-index: 10;
    padding-top: 40px;
}

#sobre h2 {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 20px;
    z-index: 10;
}

#sobre p {
    text-align: justify;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 20px;
    z-index: 10;
}

header {
    height: 100vh;
    color: white;
    padding: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-color: #000000;
   
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o conteúdo */
}

.bem-vindo {
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff9f9;
    padding: 50px;
    margin-bottom: 40px;
    margin-top: -10px;
    text-align: center;
    box-shadow: 0 4px 4px rgba(150, 150, 150, 0.1);
    z-index: 10;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%; /* Diminui a largura do carrossel */
    height: 100%;
    margin: 0 auto; /* Centraliza o carrossel */
   
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    z-index: 1000;
}

.arrow.left {
    left: 10px; /* Define a seta da esquerda */
}

.arrow.right {
    right: 10px; /* Define a seta da direita */
}

.cards {
    display: flex; /* Troca para flex para fazer o carrossel funcionar */
    transition: transform 0.5s ease-in-out;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 20px;
    padding: 10px;
}

.card {
     /* Faz cada card ocupar a largura total */
    flex-shrink: 0;
    height: 100%; 
    width: 100%;
    border: 1px solid #000000;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    max-width: 50%;
    min-height: 50%;
    object-fit: cover; 
    border-radius: 20px 20px 0 0;
}

.card_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 20px 20px 0 0;
}

.card_text {
    padding: 20px;
    text-align: center;
}

.card_link {
    text-decoration: none;
    background-color: #5d5f5e;
    color: white;
    padding: 10px 20px;
    border-radius: 0 0 20px 20px;
    text-align: center;
    width: 100%;
}          


#detalhes-do-produto {
    max-width: 900px;
    margin:-400px auto 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Define a posição relativa */
    z-index: 10; 
    padding-top: 400px;
}

#detalhes-do-produto h2 {
    text-align: center;
    color: #ffffff;
    font-size: 1em;
    margin-bottom: 20px;
}

#detalhes-do-produto h3 {
    text-align: left;
    color: #ffffff;
    font-size: 1em;
    margin-bottom: 20px;
}

#detalhes-do-produto ul {
    list-style-type: disc;
    padding-left: 20px;
}

#detalhes-do-produto ul li {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #427eff;
}

#detalhes-do-produto ul li strong {
    color: #fa0000;
}

#detalhes-do-produto p {
    text-align: justify;
    color: #b4aeae;
    line-height: 1.6;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
   
}

section#amostras button {
    display: block;
    margin: 20px auto;
   
}

#samples {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    color: #ffffff;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.beat-sample {
    width: 60%;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.beat-sample h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #9b8e8e;
}

.beat-sample p {
    margin: 5px 0;
    color: #ffffff;
}

.beat-sample audio {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.buy-button {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 20px auto; /* Centraliza e adiciona uma margem acima e abaixo */
}

.buy-button button {
    max-width: 300px;
    background-color: #0070ba; /* Azul PayPal */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s, transform 0.3s; /* Efeitos de transição */
    text-align: center;
}

.buy-button button:hover {
    background-color: #005a8b; /* Azul mais escuro ao passar o mouse */
    transform: scale(1.05); /* Leve aumento no botão ao passar o mouse */
}

.buy-button button:focus {
    outline: none; /* Remove o contorno padrão ao focar no botão */
}




/* Melhorando o formulário de contato */
form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

form button {
    background-color: #1c1c1c;
    color: white;
    border-radius: 5px;
    border: 2px solid #427eff;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #427eff;
    color: #fff;
}

.feedbacks {
    padding: 20px;
    margin-top: 20px;
    background-color: transparent;
}

.feedbacks h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.dia {
    margin-bottom: 30px;
    color: #ffffff;
}

.evento {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #222222;
}

.evento img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.evento-info {
    flex: 1;
    margin: 0;
    font-size: 18px
}

.evento p {
    margin: 5px 0;
    margin-right: 80px;
}

.container {
    max-width:100%;
    margin: 20px auto;
    padding: 0 20px;
  
}

.contact-form {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.contact-form h3 {
    margin-top: 0;
    color: white;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}


p a {
    text-decoration: none;
    color: inherit;
}
p a:hover {
    text-decoration: underline;
    color: #427eff;
}


.contact-form button:hover {
    background-color: #d35400;
}

footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

footer .siga {
    margin-bottom: 20px;
    text-align: center;
}

footer .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

footer .social-media a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

footer .social-media a img {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Espaço entre o ícone e o texto */
}

footer .back-img {
    max-width: 180px;
    margin-top: 20px;
    display: block;
}

footer .footer-line {
    width: 90%;
    height: 1px;
    background-color: #fff;
    margin: 20px 0;
    opacity: 0.2; /* Linha suave */
}

footer p {
    margin: 0;
    font-size: 16px;
    padding: 10px 0;
}

.whatsapp-btn {
    display: inline-flex; /* Define o botão como inline para permitir a centralizaç
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Define a cor do texto */
    background-color: #000000; /* Cor de fundo do botão */
    padding: 10px 20px; /* Espaçamento interno para o botão */
    border-radius: 5px; /* Arredonda os cantos do botão */
    margin-top: 20px; /* Espaçamento acima do botão */
}

.whatsapp-btn img {
    width: 24px; /* Define o tamanho do ícone */
    margin-right: 10px; /* Espaço entre o ícone e o texto */
}

.whatsapp-btn:hover {
    background-color: #131313; /* Cor ao passar o mouse */
}


@media (max-width: 768px) {
    header h1 {
        font-size: 10vw;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

}


/* Responsividade */
@media (min-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer .social-media {
        align-items: flex-start;
    }

    footer .back-img {
        align-self: center; /* Alinha a imagem à direita */
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    footer .back-img {
        align-self: center; /* Alinha abaixo do social media em telas menores */
    }

    .bem-vindo {
        margin-top: -50px; /* Subir o conteúdo em telas menores */
        padding: 20px; /* Reduzir o espaçamento interno */
        position: relative; /* Assegurar que o posicionamento é respeitado */
    }
}