body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
}

#about {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about h2 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

#about p {
    text-align: justify;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estilo para o header */
header {
    background-image: url('assets/images/patrick-tomasso-QMDap1TAu0g-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav {
    background-color: #000;
    padding: 1px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav a:hover {
    background-color: #333;
    border-radius: 4px;
}

.bem-vindo {
    width: 100%; /* Define a largura de cada bloco */
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center; /* Alinha o texto à esquerda */
    box-shadow: 0 4px 4px rgba(150, 150, 150, 0.1);
}

.espaço {
    width: 100%;
    color: #000000;
    border-radius: 10px;
    padding: 30px 0; /* Espaçamento interno superior e inferior */
    margin-bottom: 20px;
    text-align: center; /* Alinha o texto à esquerda */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    min-height: 1000px; /* Altura mínima do rodapé */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #50AA5A;
    border-radius: 20px;
    overflow: hidden; 
    background-color: white;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0; 
}

.card_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
    border-radius: 20px 20px 0 0; 
}

.card_text {
    padding: 20px;
    text-align: center;
}

.card_link {
    text-decoration: none;
    background-color: #50AA5A;
    color: white;
    padding: 10px 20px;
    border-radius: 0 0 20px 20px;
    text-align: center;
    width: 100%;
}


/* Estilo do botão principal do dropdown */
.dropbtn {
    background-color: #1c1c1c;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Estilo do container do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo do conteúdo do dropdown (escondido por padrão) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Estilo dos links dentro do dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Muda a cor dos links no hover */
.dropdown-content a:hover {
    background-color: #427eff;
}

#product-details {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#product-details h2 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

#product-details p {
    text-align: justify;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}


main {
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

section {
    margin-bottom: 20px;
}

section#samples button {
    display: block;
    margin: 20px auto;
}

button {
    background-color: #1c1c1c;
    color: #f4f4f4;
    padding: 10px 25px;
    border-radius: 5px;
    border: 2px solid #427eff;
    font-size: 16px;
    transition: all 0.3s ease;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #427eff;
    color: #fff;
}

/* Estilo específico para o botão na página inicial */
#index #intro button {
    margin-top: 50px; /* Ajuste conforme necessário */
}

#samples {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.beat-sample {
    width: 60%; /* Define a largura de cada bloco */
    
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    text-align: left; /* Alinha o texto à esquerda */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.beat-sample h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.beat-sample p {
    margin: 5px 0;
    color: #666;
}

.beat-sample audio {
    width: 100%; /* Faz o áudio ocupar toda a largura do bloco */
    height: 40px;
    margin-top: 10px;
}


/* Melhorando o formulário de contato */
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

form button {
    background-color: #1c1c1c;
    color: #f4f4f4;
    border-radius: 5px;
    border: 2px solid #427eff;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #427eff;
    color: #fff;
}

footer {
    
    background-color: #1c1c1c;
    color: #fff;
    padding: 30px 0; /* Espaçamento interno superior e inferior */
    min-height: 100px; /* Altura mínima do rodapé */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.whatsapp-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #1c1c1c;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.whatsapp-btn img {
    width: 24px;
    margin-right: 10px;
}

.whatsapp-btn:hover {
    background-color: #427eff;
}

footer p {
    margin: 0;
    color: #f4f4f4;
    font-size: 16px;
}

@media (max-width: 768px) {
    header, main, footer {
        padding: 10px;
    }

    nav a {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    button {
        width: 100%;
        margin-bottom: 0px;
    }

    audio {
        width: 100%;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 1.5em;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 1200px) {
    h1, h2 {
        font-size: 1.5em;
    }

    button {
        font-size: 14px;
        padding: 10px;
        align-self: center;
    }
}
